{% extends "AppPre3/padre.html" %}

{% load static %} 


{% block titulo1 %}

Hola mi nombre es Alejandro Serrano

{% endblock %}

{% block texto1 %}

Soy de Venezuela-Estado Táchira, tengo 30 años, graduado en Ingeniería Industrial.
Me gusta el rock, los video juegos y pasar tiempo de calidad con mi familia y mis mascotas. Tengo un emprendimiento y actualmente me ha llamado la atención todo lo que circunda a la programación, por lo tanto, estoy estudiando ingeniería informática y trato de alimentar mas mi conociemiento realizando cursos de diferentes lenguajes de programación.
Me caracterizo por ser responsable, abierto a nuevos conocimientos, me apasionan todas las ramas de la ciencia y quisiera llevar mi carrera hacia el análisis de datos y la inteligencia artificial aplicada a la astrología.
Valoro mucho la amistad, el compromiso y la responsabilidad en general. <br>
El proyecto final se creo con la idea de llevar un control en el registro de compra y ventas de mi emprendimiento.


{% endblock %}


