{% extends "AppPre3/padre.html" %}

{% load static %} 


{% block titulo1 %}

BUSQUEDA DE COMPRA

{% endblock %}


{% block texto1 %}
Porfavor indica que venta deseaas buscar 
    <form action="/AppPre3/resul_Venta/" method="GET">

        <input type="text" name="venta" id="venta">
        <input type="submit" value="Buscar">


    </form>
    {% endblock %}

    {% block botones %}
    
    <h2 class="text-white mt-0">Formularios y busqueda</h2>
    <hr class="divider divider-light" />
    <p class="text-white-75 mb-4">Recomendacion: Escoge cualquier formulario, despues podras escoger busqueda</p>
    <a class="btn btn-light btn-xl" href="{% url 'Compra' %}">Compra</a>
    <a class="btn btn-light btn-xl" href="{% url 'Formulario Usuario' %}">Usuario</a>
    
    {% endblock %}